extends layout

block content
	script.
		function getUserList(){
			location.href = "/user-list";
		}
		function toLoginPage(){
			location.href = "/sign-up";
		}
		function toDeleteUserPage(){
			location.href = "/delete-user";
		}
	div 
		p Welcome to #{title}

	div
		button(onclick='toLoginPage()') Sign Up
	br
	br
	div
		button(onclick='toDeleteUserPage()') Delete User
	br
	br

	div
		button(onclick='getUserList()') User list(for test)
