extends layout

block content
	script.
		function getUserList(){
			location.href = "/user_list";
		}
		function toLoginPage(){
			location.href = "/sign_up";
		}
	div 
		p Welcome to #{title}

	div
		button(onclick='toLoginPage()') sign up
	br
	br
	br

	div
		button(onclick='getUserList()') User list(for test)
